
body {
    background-color: #a665c6;
}

/* h1{
    color: #8babf1;
    text-align: center;
    font-size: 40px;
    font-family: "San Serif";
}

h2{
    color: #8babf1;
    text-align: center;
    font-size: 25px;
    font-family: "Arial";
}

h3{
    color: #8babf1;
    text-align: center;
    font-size: 20px;
    font-family: "Arial"
}

p{
    line-height: normal;
}


img {
    border: 5px solid #009eb0;
    border-top-right-radius: 30px;
    padding: 10px;
    margin: 20px;
    width:70px;
  }
  

  li{
    margin-left: 50px;
  } */